<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>servlet.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>servlet.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>servlet.CreatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogOut</servlet-name>
        <servlet-class>servlet.UserLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComment</servlet-name>
        <servlet-class>servlet.PostComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOut</servlet-name>
        <servlet-class>servlet.AdminLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdmin</servlet-name>
        <servlet-class>servlet.CreateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategory</servlet-name>
        <servlet-class>servlet.CreateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlet.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>servlet.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>servlet.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>servlet.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostProductComment</servlet-name>
        <servlet-class>servlet.PostProductComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>servlet.AddCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogOut</servlet-name>
        <url-pattern>/UserLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComment</servlet-name>
        <url-pattern>/PostComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOut</servlet-name>
        <url-pattern>/AdminLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdmin</servlet-name>
        <url-pattern>/CreateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategory</servlet-name>
        <url-pattern>/CreateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostProductComment</servlet-name>
        <url-pattern>/PostProductComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
